@font-face {
  font-family: "iAWriter Quattro";
  src: url("/typeface/iAWriterQuattroS-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "iAWriter Quattro";
  src: url("/typeface/iAWriterQuattroS-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "iAWriter Quattro";
  src: url("/typeface/iAWriterQuattroS-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "iAWriter Quattro";
  src: url("/typeface/iAWriterQuattroS-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}

html,
.root {
  font-size: 21px;
  line-height: 32px;
}

body,
.article {
  font-family: "iAWriter Quattro", monospace;
  color: #22333a;
  font-size: 1rem;
  line-height: 1.3333333rem;
}

a {
  color: #e8697c;
}

mark {
  color: #e8697c;
  background-color: #fdfefd00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.3809524rem;
  line-height: 4.5714286rem;
  margin-top: 1.5238095rem;
  margin-bottom: 3.047619rem;
}

h2,
.h2 {
  font-size: 2.2380952rem;
  line-height: 3.047619rem;
  margin-top: 1.5238095rem;
  margin-bottom: 1.5238095rem;
}
h3,
.h3 {
  font-size: 1.5238095rem;
  line-height: 1.5238095rem;
  margin-top: 3.047619rem;
  margin-bottom: 1.5238095rem;
}
h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5238095rem;
  margin-top: 1.5238095rem;
  margin-bottom: 0rem;
}
h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5238095rem;
  margin-top: 1.5238095rem;
  margin-bottom: 0rem;
}
h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5238095rem;
  margin-top: 1.5238095rem;
  margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5238095rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  margin-bottom: 1.5238095rem;
}

sub,
sup {
  margin-bottom: 1.5238095rem;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
small {
  font-size: 0.71428571428rem;
  line-height: 1.14285714286rem;
}

/* High level containers */

body {
  margin: 0;
}
main {
}

.content {
  width: 84vw;
  max-width: 1440px;
  margin: auto;
}

/* HEADER */

.logo {
  /* logo on top of every page */
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #22333a;
}
#mainNavigation {
  /* Container of primary navigation */
  display: flex;
  justify-content: space-between;
  /* margin: 1.5238095rem; */
  padding: 1.5238095rem;
}
#mainNavList {
  margin: 0;
  padding: 0;
}

#mainNavList > li {
  display: inline;
  /* padding: 0 1rem; */
  padding-left: 1rem;
}

#mainNavList > li > a {
  text-decoration: none;
  color: #22333a;
}

.active {
  text-decoration: underline !important;
}

/* Main Content */

.heroContainer {
  /* Container styling for hero section */
  background-color: #e1eae9;
  padding: calc(2 * 1.5238095rem);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
}

.heroHeading {
  order: 1;
  width: 100%;
}

.heroHeading > h1 {
  margin-top: 0;
  /* margin-top: 1.3333333rem; */
}

.heroLeft {
  order: 2;
  flex: 2;
  padding-right: 1.5238095rem;
}

.heroRight {
  order: 3;
  flex: 1;
  align-self: flex-end;
  background-color: #fdfefd;
  padding: 1.5238095rem;
}
.heroRight > h6 {
  margin-top: 0;
}

/* Section styling starting here */

.sectionWhite {
  width: 100%;
  padding: 4rem 0;
  background-color: #fdfefd;
  border: none;
  padding: calc(2 * 1.5238095rem) 0;
  margin: 0;
}

.sectionLight {
  width: 100%;
  padding: calc(2 * 1.5238095rem) 0;
  background-color: #e1eae9;
}

.sectionDark {
  background-color: #6e7c7b;
  color: #fdfefd;
  padding: calc(2 * 1.5238095rem) 0;
}

.sectionPrimary {
  background-color: #e8697c;
  color: #fdfefd;
  padding: calc(2 * 1.5238095rem) 0;
}

/* CASE OVERVIEW CONTAINER */
.caseOverview {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: #fdfefd;
  border: 8px solid #e1eae9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
}
.caseOverview1-3 {
  order: 1;
  padding-right: 1rem;
}
.caseOverview2-3 {
  order: 2;
  padding-right: 1rem;
}
.caseOverview3-3 {
  order: 3;
  align-self: flex-end;
}

/* Footer Styling starting here */

footer {
  background-color: #22333a;
  color: #fdfefd;
  padding: calc(2 * 1.5238095rem) 0;
  margin: auto;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer > a {
  color: #fdfefd;
}
.bottomNav > ul > li > a {
  color: #e8697c;
}
.bottomNav > ul {
  list-style-type: none;
  padding-left: 0;
}

.footerCol3-3 > ul {
  list-style-type: none;
  padding-left: 0;
}

.footerCol3-3 > ul > li > a {
  color: #e8697c;
}

.footerCol1-3 {
  width: 30%;
}

.footerCol2-3 {
  width: 30%;
}

.footerCol3-3 {
  width: 30%;
}

#copyright {
  text-align: right;
  width: 100%;
  align-self: flex-end;
}
/* BUTTONS */
.primaryButton {
  display: inline-block;
  padding: 1.5238095rem;
  border: none;
  border-radius: calc(1rem / 3);
  background-color: #e8697c;
  font-family: "Roboto", sans-serif;
  color: #fdfefd;
  font-size: 1rem;
  line-height: 1.5238095rem;
  text-align: center;
  white-space: nowrap;
  transition: background-color 100ms ease-in-out;
}

.primaryButton:hover,
.primaryButton:focus {
  background-color: #cb6c7a;
}
