$theme-colors: (
  "primary": #da4d6d,
  "secondary": #607c80,
  "success": #038c65,
  "danger": #bf0436,
  "warning": #f29863,
  "info": #143c8c,
  "light": #ebf0f4,
  "dark": #19262e,
  "white": #fdfefd,
  "blue": #007bff,
  "indigo": #3b3b58,
  "purple": #c8c8fe,
  "pink": #fec8d6,
  "red": #dc3545,
  "orange": #fee1c7,
  "yellow": #ffc107,
  "green": #28a745,
  "teal": #20c997,
  "cyan": #17a2b8,
  "gray": #6c757d,
  "gray-dark": #343a40,
);

$border-width: 2px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);

@import "node_modules/bootstrap/scss/bootstrap";
